.box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;

    width: 100px;
    height: 120px;

    flex-shrink: 0;
    padding: 10px 0px;
    background: #1890FF;
    border-radius: 8px;
}

.box:not(:last-child) {
    margin-right: 20px;
}

.box.active {
    width: 120px;
    height: 140px;
}

.boxTime {
    width: 60px;
    height: 60px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #70BAFF;
    border-radius: 50%;
}

.boxTime.active {
    width: 70px;
    height: 70px;
}