.box {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

    width: 100px;
    height: 120px;

    flex-shrink: 0;
    margin-right: 20px;
    background: #6B5FF0;
    border: 1px solid #6B5FF0;
    border-radius: 8px;
}