.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.user__img {
    width: 90px;
    height: 90px;
    background: #1890FF;
    border-radius: 50%;
    margin-bottom: 10px;
}
.user__text {
    text-align: center;
}
.user__text__name {
    font-size: 18px;
    font-weight: bold;
}
.user__text__status {
    font-size: 14px;
}