.container {
    background-color: #fff;
    border: 1px solid #DCE1E5;
    border-radius: 8px;
    padding: 20px;
}

.btnVisible {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 18px;
    color: #060606;
}

.container__box {
    margin-top: 10px;
}