.wrapper {
    margin: 0px 5px;
}

.container {
    padding: 10px;
    border: 1px solid #D7D7D7;
    border-radius: 8px;
}

.btnVisible {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 18px;
    color: #060606;
}

.container__box {
    margin-top: 10px;
}