@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    height: 100vh;
}

.content {
    max-width: 500px;
    height: 600px;
    margin: 0 auto;
    padding: 0px 15px;
}