@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.App {
    width: 500px;
    margin: 0 auto;
}

.spin {
    display: flex;
    justify-content: center;
    margin: 50px;
}