@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.App {
    width: 500px;
    margin: 0 auto;
}

.spin {
    display: flex;
    justify-content: center;
    margin: 50px;
}

/* start list_item styles */

.list_item {
    margin: 10px 0px;
    padding: 20px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
}
.list_item_title {
    margin: 20px;
    font-size: 24px;
}
.list_item_delete {
    font-size: 22px;
}

/* end list_item styles */